trunk/server/PizzaTech/WebContent/wsdl/DBImplementation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://client" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://client" xmlns:intf="http://client" xmlns:tns1="http://servlet.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://client" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servlet.javax"/>
   <element name="getInstance">
    <complexType>
     <sequence>
      <element name="context" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInstanceResponse">
    <complexType>
     <sequence>
      <element name="getInstanceReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllPizzas">
    <complexType/>
   </element>
   <element name="getAllPizzasResponse">
    <complexType>
     <sequence>
      <element name="getAllPizzasReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getPizzaById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPizzaByIdResponse">
    <complexType>
     <sequence>
      <element name="getPizzaByIdReturn" type="impl:Pizza"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Pizza">
    <sequence>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="ingredients" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="isPermanent" type="xsd:boolean"/>
     <element name="link" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="addPizza">
    <complexType>
     <sequence>
      <element name="pizza" type="impl:Pizza"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPizzaResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPizzasRequest">

      <wsdl:part element="impl:getAllPizzas" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPizzaByIdResponse">

      <wsdl:part element="impl:getPizzaByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPizzaResponse">

      <wsdl:part element="impl:addPizzaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPizzaByIdRequest">

      <wsdl:part element="impl:getPizzaById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPizzaRequest">

      <wsdl:part element="impl:addPizza" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPizzasResponse">

      <wsdl:part element="impl:getAllPizzasResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstanceResponse">

      <wsdl:part element="impl:getInstanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstanceRequest">

      <wsdl:part element="impl:getInstance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DBImplementation">

      <wsdl:operation name="getInstance">

         <wsdl:input message="impl:getInstanceRequest" name="getInstanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInstanceResponse" name="getInstanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPizzas">

         <wsdl:input message="impl:getAllPizzasRequest" name="getAllPizzasRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPizzasResponse" name="getAllPizzasResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPizzaById">

         <wsdl:input message="impl:getPizzaByIdRequest" name="getPizzaByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPizzaByIdResponse" name="getPizzaByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPizza">

         <wsdl:input message="impl:addPizzaRequest" name="addPizzaRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPizzaResponse" name="addPizzaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DBImplementationSoapBinding" type="impl:DBImplementation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInstance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInstanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInstanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPizzas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPizzasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPizzasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPizzaById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPizzaByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPizzaByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPizza">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPizzaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPizzaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DBImplementationService">

      <wsdl:port binding="impl:DBImplementationSoapBinding" name="DBImplementation">

         <wsdlsoap:address location="http://localhost:8080/PizzaT/services/DBImplementation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
